body{
    background-color: #150a28;
    color: #b2b7dd;
}

/* Background Colors */

.bg-bgrey{
    background:#292850;
}
.bg-lightgreen{
  background: #20d131;
}
/*  Text Colors */

.text-bgray{
  color: #5b7fb1;
}
.text-sgray{
  color: #4b5b8d;
}


/* Remove Underline */

a{
  text-decoration: none;
}
/* Text Shadow */
.ts-sm{
  text-shadow: 1px 3px 1px #d6cb55;
}

/* Reduce Width */
.rwidth{
  width: 50px;
  height: auto;
}

.banner{
    background: url(https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) rgba(0,0,0,0.7);
    background-size:cover;
}

.team{
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

footer{
    background-color: #252946;
    
}

@media only screen and (max-width:462px)
{
    .banner
    {
        height: 83vh;
    }
}

/* Svg Icon Width */
.svg{
  width:20px;
}
